.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #a4ccff;
  padding: 20px;
}

.Output {
  background-color: #f5ef99;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  border-radius: 8px;
}

.current-date-time {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.Output_Description,
.Output_Temp_Humidty_WindSpeed {
  background-color: #d2d2da;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 45%;
  margin: 10px;
}

.Output_Description img {
  width: 100px;
  height: 50px;
  margin-top: 10px;
}

h1 {
  color: #333;
}

.Output_City_Name {
  margin: 10px;
  font-size: 30px;
  text-align: center;
}

input {
  padding: 10px;
  margin-top: 20px;
}
